<% content_for(:title) do %>
    Join
<% end %>

<h2 class="subhead"><span>Join</span></h2>

<div class="post">
    <div class="posthead">
        <h3>Like the project?</h3>
        <p>Then Join Up! Introduce yourself to the <%= link_to "email list", "http://groups.google.com/group/privly" %>, or contact Sean by email: privlycontact [at] seanbmcgregor.com. We are just beginning the open development process, so there will not be a better time to contribute. Also great ways to move the project forward:</p>
        <ul>
            <li>Fork a Repository
                <ul>
                    <li><%= link_to "Web Application", "https://github.com/smcgregor/privly-web" %> (the content/key server)</li>
                    <li><%= link_to "Firefox Extension", "https://github.com/smcgregor/privly-firefox" %></li>
                    <li><%= link_to "Chrome Extension", "https://github.com/smcgregor/privly-chrome" %></li>
                    <li><%= link_to "Opera Extension", "https://github.com/smcgregor/privly-opera" %></li>
                    <li><%= link_to "Internet Explorer Extension", "https://github.com/smcgregor/privly-ie" %></li>
                    <li><%= link_to "Safari Extension", "https://github.com/smcgregor/privly-safari" %></li>
                    <li><%= link_to "Test Cases", "https://github.com/smcgregor/privly-test" %></li>
                </ul>
            </li>
            <li>Bring Privly to a new Platform
                <ul>
                    <li>(your extension here)</li>
                </ul>
            </li>
            <li>Do one of the things listed <%= link_to "here", pages_roadmap_path %></li>
            <li>Write documentation</li>
            <li>Write tests</li>
            <li><%= link_to "Submit bugs", pages_bug_path %></li>
            <li>Redesign the site (as you can tell, we don't have anyone with a sense of style)</li>
            <li>Integrate other content hosts with the priv.ly link</li>
        </ul>
        <p>If you don't have the time but you have the money, we accept <%= link_to "donations", pages_donate_path %>.</p>
    </div>
</div>
