<% content_for(:title) do %>
    People
<% end %>

<h2 class="subhead"><span>People</span></h2>

<div class="post">
    <div class="posthead">
        <h3><%= link_to "Sean McGregor,", "http://www.linkedin.com/in/seanbmcgregor", :target => "_blank" %> Lead Developer</h3>
        <p>Sean is a <%= link_to "Machine Learning", "http://en.wikipedia.org/wiki/Machine_learning" %> PhD student at Oregon State University. He began developing the Privly concept in response to platforms asserting ownership over their community's content. You can contact him by email, privlycontact [at] seanbmcgregor.com, <%= link_to "Twitter", "https://twitter.com/#!/seanmcgregor" %> or by <%= link_to_function "phone", "$('#phone_object').slideToggle('slow');"  %>. Outside web development and research, Sean enjoys rock climbing, Cuban Salsa, and Judo.</p>
    </div>
    <div id="phone_object" style="display:none;background:none">
        <p>Google will call the number you enter, then connect you with Sean.</p>
        <object  type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=836f2d2661d2ac4d60dc333adab5f77d6b53eb97&style=0" />Requires Flash player.</object>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <h3><%= link_to "Balaji Athreya, ", "http://www.linkedin.com/in/balajiathreya", :target => "_blank" %>Client Side Developer</h3>
        <p>Balaji Athreya is a graduate student in Computer Science at Oregon State University studying Software Engineering and Usability. His Privly work is focussed on the Firefox Extension. He likes filter coffee, programming and Ilayaraja in no specific order.</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <h3><%= link_to_function "Jesse Hostetler, ", "alert('HOSTETLER does NOT like public websites. Contact us if you find something good to link to...');" %>Client Side Developer</h3>
        <p>Jesse is a <%= link_to "Machine Learning", "http://en.wikipedia.org/wiki/Machine_learning" %> PhD student at Oregon State University. His Privly work is focused on encryption libraries for the extensions.</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <h3><%= link_to "Jennifer Davidson, ", "http://health.oregonstate.edu/igert/people/students", :target => "_blank" %>Community Manager</h3>
        <p>Jennifer is a Computer Science PhD student at Oregon State University. Her research focuses on older adults in the design and development of open source software. In general, she is interested in how open source communities operate. Aside from research, she enjoys doing outreach with women in technology. She is a <%= link_to "Systers", "http://anitaborg.org/initiatives/systers/" %> member and helps with <%= link_to "ChickTech", "http://chicktech.org" %>. In her luxurious free time, she’s a live music goer, beer enthusiast and road tripper. You can find her on <%= link_to "twitter", "https://twitter.com/#!/jewifer" %>. <%= link_to "LinkedIn", "http://www.linkedin.com/pub/jennifer-davidson/15/b8/181" %>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <h3><%= link_to "Jesse Pollak,", "http://jessepollak.me" %> Server and Client Side Developer</h3>
        <p>Jesse is a computer science major at <%= link_to "Pomona College", "http://www.pomona.edu/" %>. He loves playing soccer, skiing, and almond croissants. Since joining in the first week of Privly's <%= link_to "Kickstarter", "http://www.kickstarter.com/projects/229630898/protect-your-content-anywhere-on-the-web-privly" %>, he has worked on making Privly data more portable, stylish, and is currently working on a Safari version of the extension.</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <h3><%= link_to "Swetal Patel, ", "http://www.linkedin.com/in/teamswet" %>Jargon Translator/PR</h3>
        <p>Swet is a San Diego resident born and raised. Since getting his B.A. in 2008, he has been working in e-commerce marketing. In addition to being Privly's first donor, Swet is working to make the Privly concept accessible to the masses. He enjoys gadgets, music and is a film and TV buff.</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <h3><%= link_to "Tyler Dugoni, ", "http://thinkshootdesign.com/" %>Graphic Design</h3>
        <p>Tyler has been a Web Developer and Graphic Designer since age 12. He uses is skills for freelance work in web development, and graphic design. Since joining Privly during the <%= link_to "Kickstarter", "http://www.kickstarter.com/projects/229630898/protect-your-content-anywhere-on-the-web-privly" %> campaign, Tyler has generated new graphics for the campaign, site, and extension. Tyler is always looking for ways to sharpen his skills, and is always designing! Tyler enjoys live concerts and anything that has to do with computers.</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <h3><%= link_to "Your Name Here,", pages_join_path %> Your Role</h3>
        <p>We have set an <%= link_to "ambitious agenda", pages_roadmap_path %>, but we won't get anywhere without help. Your Name Here enjoys rocketry, SCIENCE!, and generally being awesome at life.</p>
    </div>
</div>

<h2>Code Contributors</h2>

<div class="post">
    <div class="posthead">
        <p>Even if you don't want to <%= link_to "join", pages_join_path %> feel free to submit patches or one-off features.</p>
        <br />
        <p>Privly has benefited from the existence of numerous open source projects. We should note that the template for the site was originally designed by <span class="credit"><a href="http://cssheaven.org" title="free and open source css template">CSS Heaven</a> and Released under the GPL License.</span> All other components of the site and extensions are MIT licensed.</p>
    </div>
</div>

