<% content_for(:title) do %>
    Privacy and TOS
<% end %>

<% content_for(:extrajs) do %>
    <script type="text/javascript">
      $(function() {
          $( "#rules_accordion" ).accordion({autoHeight: false, collapsible: false, active: 0});
      });
    </script>
<% end %>

<h2 class="subhead"><span>Privacy and Terms of Service</span></h2>

<div class="accordionhead">
    <div id="rules_accordion">

        <h2><a id="accordion_privacy" href="#accordion_privacy">Privacy</a></h2>
        <div>
            <h1>Principles</h1>

            <div class="post">
                <div class="posthead">
                    <h2>Make Privacy Automatic</h2>
                    <p>We will eventually store everything as cipher-text (encrypted), and execute all encryption services on the browser. We don't want to be able to read anything. Your content will be as secure as your password.</p>
                </div>
            </div>

            <div class="post">
                <div class="posthead">
                    <h2>It is <strong>Your</strong> Data</h2>
                    <p>We will not archive your content after you delete it, and we will never crawl your content.</p>
                </div>
            </div>

            <div class="post">
                <div class="posthead">
                    <h2>Everything is Opt-In</h2>
                    <p>When we add capabilities, access to existing content will not change unless the content-owner explicitly changes the settings.</p>
                </div>
            </div>

            <div class="post">
                <div class="posthead">
                    <h2>Reading Content is Also Private</h2>
                    <p>Content owners do not know which links you read. Privly will only collect user data (example: geography) that helps us deliver content more effectively.</p>
                </div>
            </div>
            
            <div class="post">
                <div class="posthead">
                    <h2>Other Concerns?</h2>
                    <p>Above all we want to enable privacy across the internet. We will keep development and policies open and responsive to the users, so get involved!</p>
                </div>
            </div>
            
            <div class="post" style="color: #FF0000;">
                <div class="posthead">
                    <h2>Disclaimer</h2>
                    <p>Please note that the extension does <span style="font-weight:bold;">not</span> currently offer:</p>
                    <ul>
                        <li>Encryption (content is stored in the clear)</li>
                        <li>Protection from governments</li>
                        <li>Protection from our hosting provider</li>
                        <li>Protection from the domain name system</li>
                        <li>Or security of any kind</li>
                    </ul>
                    <p>We made the extension available so you can test it out with your favorite site, but until we tell you otherwise, post with the expectation that it is public.</p>
                </div>
            </div>
        </div>
    
        <h2><a id="accordion_security" href="#accordion_security">Terms of Service</a></h2>
        <div>
            <%= render "terms" %>
        </div>
    </div>
    
    <br />

    <p style="text-align: center;">
        <%= link_to "Show All", "#", {:onclick => "$('#rules_accordion').accordion('destroy');$('#show_all_link').toggle();", :id => "show_all_link"} %>
    </p>
</div>

