<% content_for(:title) do %>
    New Post
<% end %>

<h2 class="subhead"><span>New Post</span></h2>

<% if user_signed_in? %>
    <%= render 'form' %>
<% else %>
    <%= render 'anonymous_form' %>
<% end %>
