<html>
    <head>
        <%= javascript_include_tag :application %>
        <%= render 'iframe_script.html' %>
        <%= render 'tooltip_script.html' %>
        <script type="text/javascript" >
            jQuery(document).ready(function(){
                jQuery('#post_form').bind('ajax:complete',function(evt,xhr,status){
                    jQuery("#post_content").html(jQuery.parseJSON(xhr.responseText).content);
                    iframeBehavior.resize();
                });

                jQuery("body").on("click",function(evt){
                    iframeBehavior.clickCount++;
                    if(iframeBehavior.clickCount < 2)
                    {   
                        //If the user can update the post then allow the double click
                        //behavior (opens the edit form)
                        <% if can? :update, @post %>
                            setTimeout(function(){iframeBehavior.click(evt)},
                                300);
                        <% else %>
                            iframeBehavior.singleClick(evt);
                        <% end %>
                    }
                });
            });
        </script>
        <style type="text/css">
          #post_content {padding: 5px 10px 0 10px}
          
          /*!
           * Bootstrap v2.0.2
           *
           * Copyright 2012 Twitter, Inc
           * Licensed under the Apache License v2.0
           * http://www.apache.org/licenses/LICENSE-2.0
           *
           * Designed and built with all the love in the world @twitter by @mdo and @fat.
           *
           * Trimmed to just the typography (I think)
           */
          html {
            font-size: 100%;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
          }
          a:focus {
            outline: thin dotted #333;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
          }
          a:hover,
          a:active {
            outline: 0;
          }
          sub,
          sup {
            position: relative;
            font-size: 75%;
            line-height: 0;
            vertical-align: baseline;
          }
          sup {
            top: -0.5em;
          }
          sub {
            bottom: -0.25em;
          }
          img {
            height: auto;
            border: 0;
            -ms-interpolation-mode: bicubic;
            vertical-align: middle;
          }
          body {
            margin: 0;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            line-height: 18px;
            color: #333333;
            background-color: #ffffff;
          }
          a {
            color: #0088cc;
            text-decoration: none;
          }
          a:hover {
            color: #005580;
            text-decoration: underline;
          }
          p {
            margin: 0 0 9px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            line-height: 18px;
          }
          p small {
            font-size: 11px;
            color: #999999;
          }
          .lead {
            margin-bottom: 18px;
            font-size: 20px;
            font-weight: 200;
            line-height: 27px;
          }
          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            margin: 0;
            font-family: inherit;
            font-weight: bold;
            color: inherit;
            text-rendering: optimizelegibility;
          }
          h1 small,
          h2 small,
          h3 small,
          h4 small,
          h5 small,
          h6 small {
            font-weight: normal;
            color: #999999;
          }
          h1 {
            font-size: 30px;
            line-height: 36px;
          }
          h1 small {
            font-size: 18px;
          }
          h2 {
            font-size: 24px;
            line-height: 36px;
          }
          h2 small {
            font-size: 18px;
          }
          h3 {
            line-height: 27px;
            font-size: 18px;
          }
          h3 small {
            font-size: 14px;
          }
          h4,
          h5,
          h6 {
            line-height: 18px;
          }
          h4 {
            font-size: 14px;
          }
          h4 small {
            font-size: 12px;
          }
          h5 {
            font-size: 12px;
          }
          h6 {
            font-size: 11px;
            color: #999999;
            text-transform: uppercase;
          }
          .page-header {
            padding-bottom: 17px;
            margin: 18px 0;
            border-bottom: 1px solid #eeeeee;
          }
          .page-header h1 {
            line-height: 1;
          }
          ul,
          ol {
            padding: 0;
            margin: 0 0 9px 25px;
          }
          ul ul,
          ul ol,
          ol ol,
          ol ul {
            margin-bottom: 0;
          }
          ul {
            list-style: disc;
          }
          ol {
            list-style: decimal;
          }
          li {
            line-height: 18px;
          }
          ul.unstyled,
          ol.unstyled {
            margin-left: 0;
            list-style: none;
          }
          dl {
            margin-bottom: 18px;
          }
          dt,
          dd {
            line-height: 18px;
          }
          dt {
            font-weight: bold;
            line-height: 17px;
          }
          dd {
            margin-left: 9px;
          }
          .dl-horizontal dt {
            float: left;
            clear: left;
            width: 120px;
            text-align: right;
          }
          .dl-horizontal dd {
            margin-left: 130px;
          }
          hr {
            margin: 18px 0;
            border: 0;
            border-top: 1px solid #eeeeee;
            border-bottom: 1px solid #ffffff;
          }
          strong {
            font-weight: bold;
          }
          em {
            font-style: italic;
          }
          .muted {
            color: #999999;
          }
          abbr[title] {
            border-bottom: 1px dotted #ddd;
            cursor: help;
          }
          abbr.initialism {
            font-size: 90%;
            text-transform: uppercase;
          }
          blockquote {
            padding: 0 0 0 15px;
            margin: 0 0 18px;
            border-left: 5px solid #eeeeee;
          }
          blockquote p {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 300;
            line-height: 22.5px;
          }
          blockquote small {
            display: block;
            line-height: 18px;
            color: #999999;
          }
          blockquote small:before {
            content: '\2014 \00A0';
          }
          blockquote.pull-right {
            float: right;
            padding-left: 0;
            padding-right: 15px;
            border-left: 0;
            border-right: 5px solid #eeeeee;
          }
          blockquote.pull-right p,
          blockquote.pull-right small {
            text-align: right;
          }
          q:before,
          q:after,
          blockquote:before,
          blockquote:after {
            content: "";
          }
          address {
            display: block;
            margin-bottom: 18px;
            line-height: 18px;
            font-style: normal;
          }
          small {
            font-size: 100%;
          }
          cite {
            font-style: normal;
          }
          code,
          pre {
            padding: 0 3px 2px;
            font-family: Menlo, Monaco, "Courier New", monospace;
            font-size: 12px;
            color: #333333;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
          }
          code {
            padding: 2px 4px;
            color: #d14;
            background-color: #f7f7f9;
            border: 1px solid #e1e1e8;
          }
          pre {
            display: block;
            padding: 8.5px;
            margin: 0 0 9px;
            font-size: 12.025px;
            line-height: 18px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            white-space: pre;
            white-space: pre-wrap;
            word-break: break-all;
            word-wrap: break-word;
          }
          pre code {
            padding: 0;
            color: inherit;
            background-color: transparent;
            border: 0;
          }
        </style>
    </head>
    <body privly-exclude="true">
        <div id="wrapper">
            <div id="post_content">
                <%= @post.content.safe_markdown %>
            </div>
            <div id="post_form" style="display:none;background:none">
                <%= render 'iframe_form.html' %>
            </div>
        </div>
    </body>
</html>
