<!DOCTYPE html>
<html>
<head>

  <title><%= Rails.application.class.parent %> &middot; <%= yield :title %></title>
  
  <%= stylesheet_link_tag    :application %>
  <%= javascript_include_tag :application %>
  
  <%= yield :extrahead %>
  <%= yield :extracss %>
  <%= yield :extrajs %>

  <%= csrf_meta_tags %>
  
</head>
<body privly-exclude="true">

<!--TOP BANNER AND NAVIGATION -->
<%= render "shared/nav" %>

<div id="pagewrap">
    <div id="wrap" style="min-height:400px;">
        <% if notice %>
        <div class="flash notice">
            <p><%= notice %></p>
        </div>
        <% end %>
        <% if alert %>
        <div class="flash alert">
            <p><%= alert %></p>
        </div>
        <% end %>
        <%= yield :top_column %>
        <div id="maincontent">
                
            <!-- OPTIONAL MAIN CONTENT AREA, used mostly on welcome page-->
            <%= yield :top_main_content_column %>
                
            <div class="clear bordered"></div>
                
            <!--MAIN CONTENT-->
            <div id="page">
                <%= yield %>
            </div>
            
            <%= render "shared/sidebar" %>
            
            <div class="clear"></div>
        </div>
    </div>
</div>


<div id="bottom">
    <!--Bottom Row -->
    <div id="btmcontent">
        <div class="col1">
            <h2>Contribute</h2>
            <p>We are an <a href="/pages/license">open source</a> project so there are many ways to contribute.</p>
            <ul>
                <li><%= link_to "Donate", pages_donate_path %></li>
                <li><%= link_to "Submit Bug Report", pages_bug_path %></li>
                <li><%= link_to "Join Up/Submit Code", pages_join_path %></li>
                <li><%= link_to "License", pages_license_path %></li>
            </ul>
        </div>
        <div class="col2">
            <h2>Help</h2>
            <p>We are still in the early stages of development, so expect a few bugs. </p>
            <ul>
                <li><%= link_to "FAQ", pages_faq_path %></li>
                <li><%= link_to "Submit a Bug", pages_bug_path %></li>
                <li><%= link_to "Email", pages_email_path %></li>
                <li><%= link_to "Privacy/Terms of Service", pages_privacy_path %></li>
            </ul>
        </div>
        <div class="col3">
            <h2>About Us</h2>
            <p>The Privly concept is open source community project for taking control of your personal information.</p>
            <ul>
                <li><%= link_to "About", pages_about_path %></li>
                <li><%= link_to "Road Map", pages_roadmap_path %></li>
                <li><%= link_to "People", pages_people_path %></li>
                <li><%= link_to "Download Extension", pages_download_path %></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    
    <!--FOOTER 
    <div id="footer">
        <p>Priv.ly</p>
        <span class="credit"><a href="http://cssheaven.org" title="free and open source css template">CSS Template</a> by CSS Heaven Released under GPL License</span>
    </div>-->
</div>
</body>
</html>
